@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html{
    font-family: "Roboto" , sans-serif;
    background-color: rgb(238,238,238);
}

header{
    height: 5rem;
}

.title-bar{
    height: 2.5rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.title-img{
    height: 60%;
    margin-left: 1rem;
}
.title-text{
    font-size: 1rem;
}
.menu{
    position: relative;
}
.menu-bar{
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 50%;
    margin-left: 1rem;
    
}

.menu-btn:hover{
    background-color: lightblue;
}
.menu:hover .menu-items{
    display: block;
}
.menu-items:hover li:hover{
    background-color: darkgray;
}
.menu-items{
    display: none;
    background-color: rgb(238,238,238);
    position: absolute;
    top:4px;
    width: 9rem;
    z-index: 10;
}
li{
    padding: 0.25rem;
}
.videoInput{
    display: none;
}
main{
    background-color: black;
    height: calc(100vh - 10rem);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.toast{
    position: fixed;
    font-size: 2rem;
    color: white;
    top: 100px;
    right: 200px;
    display: none;
}
footer{
    height:5rem;
    position: relative;
}
.btn{
    background-color: whitesmoke;
    border: none;
}
.btn:hover{
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid lightgrey;
}
footer .left-icons {
    gap: 1rem;
    display: flex;
    left: 30px;
    margin-top: 40px;
    position: fixed;
}
footer .right-icons{
    display: flex;
    margin-top: 40px;
    position:fixed;
    right:10px
}
footer .slider{
    position: fixed;
    margin-top:10px;
    right: 50px;
    left: 50px;
}
.slider{
    background-color: lightblue;
}